<div data-role="view" id="share" class="add-activity-view"
     data-init="app.AddActivity.init" data-show="app.AddActivity.show" data-model="app.AddActivity" data-title="The news channel">
    <div data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Cancel</a>
            <!-- <div class="km-leftitem">
                <a class="drawer-button km-widget km-button" data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="left">
                </a>
            </div>-->

            <a class="nav-button nav-button-post" data-align="right" data-role="button" data-bind="click: saveActivity">Post</a>
        </div>
    </div>
    <div id="enterStatus" class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <!--<img alt="avatar.png" id="add-activity-avatar" />-->
            <img data-bind="attr:{src: me.ImageData}" alt="images/avatar.png" />
        </div>
        <h2 class="person-name" data-bind="text: me.DisplayName">Me</h2><br>
        <div id="image_div" align="center">
            <br> <img id="imageActivity" alt="images/imageplaceholder.png" width="100%" src="images/imageplaceholder.png" onclick="takePictureActivity();" style="height: 100px;width: 100px"><br>
        </div>
        <div class="user-share">
            <span style="margin-left: 5px; margin-top: 3px;">
                <label for="title" data-localize="title" style="color:dodgerblue;font-size:medium;">
                    Title:
                </label>
                <input type="text" style="width:100%;" maxlength="50" id="newTitle">
            </span>
        </div>
        <div class="user-share">
            <span style="margin-left: 5px; margin-top: 3px;">
                <label for="Entry" data-localize="Entry" style="color:dodgerblue;font-size:medium;">
                    Entry:
                </label>
            </span>
            <textarea id="newStatus"></textarea>
        </div>
    </div>
</div>
